.ck-content figure.audio figcaption,
.ck-content figure.iframe figcaption,
.ck-content figure.image figcaption,
.ck-content figure.video figcaption {
    padding: 0.5em;
    font-size: 0.875rem;
    color: #333;
    background: #f7f7f7;
    outline-offset: -0.0625rem;
}
