:root {
    --ck-media-upload-progress-line-width: 30px;
}

.ck-content .media {
    position: relative;
    overflow: hidden;
}

.ck-content .media.ck-infinite-progress::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
}

.ck-content .media .ck-progress-bar {
    position: absolute;
    top: 0;
    left: 0;
}
