:root {
    --ck-media-caption-size: 0.875rem;
    --ck-media-margin: 1.5rem;
    --ck-media-maxwidth: 50%;
}

.ck-content figure.media audio,
.ck-content figure.media iframe,
.ck-content figure.media img,
.ck-content figure.media video {
    display: block;
    max-width: 100%;
    margin: 0 auto;
}

.ck-content figure.media figcaption {
    font-size: var(--ck-media-caption-size);
}

.ck-content figure.media.left {
    max-width: var(--ck-media-maxwidth);
    float: left;
    margin-right: var(--ck-media-margin);
}

.ck-content figure.media.right {
    max-width: var(--ck-media-maxwidth);
    float: right;
    margin-left: var(--ck-media-margin);
}
